* {
    box-sizing: border-box;
}
.red-contaner {
    position: relative;
    display: inline-block;
}

.small-red-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

/* player1 */
.player1-health {
    background-color: yellow;
    height: 30px;
    width: 100%;

}
.p1mains1{
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.p1mains2{
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    

}

/* timer */
.game-timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* player 2 */
.player2-health{
    background-color: yellow;
    height: 30px;
    
}

.p2mains1{
    position: relative;
    height: 30px;
    width: 100%;
}

.p2mains2{
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}

.Tie-styles{
    position: absolute;
    color:  white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}